/* Base styles */

body {
  font: 16px/1.5 GothamProBold;
  min-width: 320px;
  color: #fff;
}

a {
  color: #fff;
}

.btn {
  margin-bottom: 40px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}



.btn a:active {
  color: #fff;
}

.btn a:focus {
  color: #fff;
}

.btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
}

.btn:focus {
  color: #fff;
}

header {
  background: url('../img/header.png') no-repeat fixed center center/cover;
  min-height: 100vh;
}

header img {
  margin-top: 28px;
}

header h1,
header h2,
header p {
  text-align: center;
}

header .text {
  margin-top: 150px;
  text-transform: uppercase;
  font-size: 24px;
}

header h1,
header h2 {
  text-transform: uppercase;
  font-size: 90px;
  line-height: 0.65;
}

header h1 {
  margin-top: 84px;
  color: #ff5722;
}

header h2 {
  padding-top: 17px;
}

header .conf {
  font: 24px GothamProMedium;
  margin-top: 36px;
}

header .btn {
  font: 36px/60px GothamProMedium;
  background: rgb(255, 87, 34);
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 321px;
  height: 83px;
  -webkit-transition: .3s all linear;
  transition: .3s all linear;
}

header .btn:hover {
  background: #ff2800;
  color: #fff;
}

/* about conf */

.about_conf {
  min-height: 960px;
}

.about_conf p {
  margin: 20px;
  color: #232323;
}

.about_conf .life {
  display: block;
  margin-top: 26px;
  margin-right: 116px;
  margin-left: 116px;
  font-size: 18px;
  line-height: 30px;
}

.about_conf h3 {
  font: 36px/30px GothamProMedium;
  margin-top: 79px;
  color: #ff5722;
  text-align: center;
}

.about_conf .row_two {
  display: block;
  text-align: center;
}

.about_conf .row img {
  display: block;
  margin: 0 auto;
}

.about_conf .row p {
  text-align: center;
  font-family: GothamProRegular;
}

.about_conf .row:first-of-type {
  margin-top: 22px;
}

.block.centr {
  display: block;
  margin: 0 auto;
  padding: 0;
}

/* main h2 */

main h2 {
  font: 45px GothamProMedium;
  position: relative;
  margin-top: 84px;
  color: #757575;
  text-align: center;
}

main h2:after {
  background: #65c2cf;
  position: absolute;
  top: 50%;
  margin-left: 116px;
  width: 100px;
  height: 2px;
  content: "";
}

main h2:before {
  background: #65c2cf;
  position: absolute;
  top: 50%;
  margin-left: -216px;
  width: 100px;
  height: 2px;
  content: "";
}

.center {
  display: block;
  float: none;
  margin: 0 auto;
}

/* program's event */

.big .time {
  float: left;
  margin-right: 33px;
  padding-top: 73px;
  padding-right: 15px;
  width: 168px;
  height: 206px;
  border-right: 3px solid #65c2cf;
  text-align: right;
}

.big .time:before {
  background: #65c2cf;
  position: absolute;
  top: 75px;
  margin-left: 103px;
  width: 21px;
  height: 21px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  content: "";
  /* margin-left: -46px; */
}



img:before {
  background: #65c2cf;
  position: absolute;
  top: 75px;
  margin-left: 103px;
  width: 21px;
  height: 21px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  content: "";
  /* margin-left: -46px; */
}

.time {
  color: #2e2f2f;
}

.photo {
  position: relative;
  float: left;
  width: 170px;
  height: 170px;
  border: 3px solid #ff5722;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.small img {
  background: #ff5722;
  width: 70px;
  height: 70px;
  border: none;
}

.small .time {
  float: left;
  margin-right: 33px;
  padding-top: 26px;
  padding-right: 15px;
  width: 168px;
  height: 90px;
  border-right: 3px solid #65c2cf;
  text-align: right;
  font-size: 16px;
}

.small .time:before {
  background: #65c2cf;
  position: absolute;
  top: 26px;
  margin-left: 103px;
  width: 21px;
  height: 21px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  content: "";
}

.small span.reg {
  display: inline-block;
  padding-left: 30px;
  color: #ff5722;
  font-size: 30px;
  line-height: 70px;
}

.person h4,
.person p {
  color: #65c2cf;
}

.person h4 {
  font-size: 30px;
}

.person p {
  font-size: 18px;
}

.person span {
  color: #757575;
  font-size: 30px;
}

.person h4,
.person p,
.person span {
  display: inline-block;
  margin-left: 30px;
}

.registr .time:before {
  margin-left: 112px;
}

.bonus {
  margin-bottom: 70px;
}

.bonus p {
  color: #757575;
  text-align: center;
  font-size: 24px;
}

/*  */

.gift {
  background: #bbdefb;
  min-height: 960px;
  height: 100%;
}

.gift .container {
  padding-top: 45px;
}

.gift .text {
  font: 36px GothamProRegular;
  color: #757575;
  text-align: left;
  white-space: pre-line;
}

.gift .pl {
  margin-left: 200px;
}

.gift .ml {
  margin-left: 100px;
}

.cube {
  position: relative;
  margin-left: 118px;
  height: 395px;
  background: url('../img/cube.png') no-repeat;
}

.cube span {
  position: absolute;
  top: 116px;
  left: 93px;
  color: #ff5722;
  text-align: center;
  white-space: pre-line;
  font-size: 36px;
  line-height: 1.1;
}

.cube .btn {
  background: rgb(255, 87, 34);
  position: absolute;
  top: 267px;
  left: 186px;
  display: block;
  margin-top: -4px;
  width: 222px;
  height: 63px;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  line-height: 49px;
  -webkit-transition: .3s all linear;
  transition: .3s all linear;
}

.cube .btn:hover {
  background: #ff2800;
  border-color: #ff2800;
  color: #fff;
}

.rel {
  position: relative;
}

.package img {
  display: block;
  margin: 0 auto;
  margin-top: -77px;
}

.package .text {
  display: block;
  text-align: center;
}

.package .btn {
  background: rgb(255, 87, 34);
  display: block;
  margin: 0 auto;
  margin-top: 53px;
  margin-bottom: 40px;
  padding-top: 12px;
  width: 264px;
  height: 63px;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  -webkit-transition: .3s all linear;
  transition: .3s all linear;
}

.package .btn:hover {
  background: #ff2800;
  border-color: #ff2800;
  color: #fff;
}

/*  */

.organizer .org {
  margin-top: 90px;
}

.organizer .org img {
  width: 290px;
}

.organizer h4,
.organizer p {
  color: #232323;
  font-family: GothamProRegular;
}

.organizer h4 {
  margin-bottom: 24px;
  font-size: 30px;
  line-height: 26px;
}

.organizer p {
  font-size: 18px;
  line-height: 30px;
}

.organizer a {
  color: #1d5ea0;
  font-family: GothamProRegular;
}

.organizer a i {
  font-weight: 700;
  font-size: 24px;
}

.organizer a span {
  font-size: 18px;
  line-height: 26px;
}

.organizer a:hover {
  text-decoration: none;
}

.organizer .mt2 {
  margin-top: 118px;
}

.organizer .mt1 {
  margin-top: 95px;
}

.organizer h5 {
  margin-top: 38px;
  margin-bottom: 42px;
  color: #757575;
  text-align: center;
  font-size: 24px;
}

.organizer .btn {
  border: 5.07px solid rgb(255, 87, 34);
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 307px;
  height: 63px;
  -webkit-transition: .3s background-color linear;
  transition: .3s background-color linear;
}

.organizer .btn a {
  font: 700 24px/1.7 GothamProRegular;
  color: rgb(255, 87, 34);
  text-align: left;
}

.organizer .btn:hover {
  background: #ff5722;
  border-color: #ff5722;
  color: #fff;
  line-height: 1.7;
}

.organizer .btn:hover a {
  color: #fff;
}

.part {
  height: 118px;
  line-height: 118px;
}

.part img {
  max-width: 100%;
  height: auto;
}

/* subscribe */

.subscribe {
  background: #eeeeee;
  min-height: 330px;
}

.subscribe h5 {
  font: 48px GothamProMedium;
  margin-top: 56px;
  margin-bottom: 18px;
  color: #ff5722;
  text-align: center;
}

.subscribe img {
  float: left;
  margin-left: 130px;
}

.subscribe .p {
  font: 22px GothamProMedium;
  display: block;
  color: #757575;
  text-align: center;
}

.subscribe .btn {
  background: rgb(101, 194, 207);
  display: block;
  margin: 0 auto;
  margin-top: 56px;
  margin-bottom: 40px;
  width: 264px;
  height: 63px;
  border: none;
  -webkit-transition: .3s background-color linear;
  transition: .3s background-color linear;
}

.subscribe .btn a {
  font: 700 24px/1.8 GothamProRegular;
  color: rgb(255, 255, 255);
  text-align: left;
}

.subscribe .btn a:hover {
  text-decoration: none;
}

.subscribe .btn:hover {
  background: #0099BE;
}

.registration {
  background: url('../img/registr.png') no-repeat center center/cover;
  min-height: 550px;
}

.registration .container {
  padding-top: 60px;
}

.registration input {
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  padding-left: 20px;
  width: 428px;
  height: 48px;
  border: 1px solid #65c2cf;
  color: #737272;
  font-family: GothamProRegular;
}

.registration input:required:valid {
  border-color: #65c2cf;
  background: #fff url('../img/valid.png') no-repeat 98% center;
  -webkit-box-shadow: 0 0 0px #65c2cf;
  box-shadow: 0 0 0px #65c2cf;
}

/*   input:valid{
    position: relative;
    &:after{
      position: absolute;
      content: "2342";
    }
  } */

.registration button.btn {
  background: rgb(255, 87, 34);
  display: block;
  margin: 0 auto;
  margin-top: 43px;
  width: 370px;
  height: 84px;
  color: #fff;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 1.84;
  -webkit-transition: 0.3s all linear;
  transition: 0.3s all linear;
}

.registration button.btn:hover {
  background: #FF2800;
}

.registration ::-webkit-input-placeholder {
  color: #737272;
}

.registration ::-moz-placeholder {
  color: #737272;
}

/* Firefox 19+ */

.registration :-moz-placeholder {
  color: #737272;
}

/* Firefox 18- */

.registration :-ms-input-placeholder {
  color: #737272;
}

footer {
  background: #64b5f6;
  min-height: 294px;
}

/*   .fa-facebook{
    margin-left: 30px;
    margin-right: 30px;
  } */

footer .icon {
  text-align: center;
}

footer p {
  font: 24px GothamProRegular;
}

footer .questions {
  margin-top: 50px;
  font-family: GothamProMedium;
}

footer a {
  display: block;
  font-family: GothamProRegular;
}

footer a:hover {
  color: #fff;
  text-decoration: none;
}

footer .place {
  margin-top: 50px;
  text-transform: uppercase;
  font-family: GothamProMedium;
}

footer .street {
  margin-top: 24px;
  font-family: GothamProMedium;
}

footer img {
  display: block;
  margin-top: 48px;
}

footer i {
  background: #fff;
  margin-top: 33px;
  padding-top: 10px;
  width: 52px;
  height: 52px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #ff5722;
  text-align: center;
}

#contact_map {
  width: 100%;
  height: 500px;
}

/* modal */

.subscribe_modal {
  height: 480px;
}

.subscribe_modal .registration {
  background: none;
}

.subscribe_modal .registration input {
  border: none;
  border-bottom: #ccc 1px solid;
}

.subscribe_modal .registration .btn {
  background: none;
  border: 4px solid #65c2cf;
  color: #65c2cf;
}

.subscribe_modal .registration .btn:hover {
  background: #fff;
}

.subscribe_modal .registration form {
  padding-top: 100px;
}

button.close {
  padding: 10px;
}

/* modal 2 */

.welcome {
  height: 700px;
  color: #757575;
}

.welcome h5 {
  margin-top: 88px;
  text-align: center;
  font-size: 48px;
}

.welcome img {
  display: block;
  margin: 0 auto;
  margin-top: 57px;
  margin-bottom: 66px;
}

.welcome p {
  font: 24px GothamProRegular;
  text-align: center;
}

.welcome p a {
  color: #2062c5;
}

.welcome p a:hover {
  text-decoration: none;
}

.welcome .say {
  margin-top: 66px;
}

.welcome .icon {
  display: block;
  text-align: center;
}

.welcome .fa {
  margin-top: 18px;
  margin-right: 33px;
  margin-bottom: 48px;
  width: 51px;
  height: 46px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  line-height: 46px;
}

.welcome .fa:last-child {
  margin-right: 0;
}

.welcome .fa-vk {
  background: #507299;
}

.welcome .fa-linkedin {
  background: #2078ca;
}

.welcome .fa-google-plus {
  background: #f32d2d;
}

.welcome .fa-facebook {
  background: #3b5998;
}

.welcome .ps {
  display: block;
  padding-bottom: 81px;
}

/* modal 3*/

.success h5 {
  margin-top: 67px;
  color: #757575;
  text-align: center;
  font-size: 36px;
}

.success img {
  display: block;
  margin: 0 auto;
  margin-top: 31px;
  margin-bottom: 40px;
}

.success p {
  font: 18px GothamProMedium;
  color: #757575;
  text-align: center;
}

.success .icon {
  display: block;
  margin-top: 53px;
  text-align: center;
}

.success .fa {
  margin-right: 33px;
  margin-bottom: 48px;
  width: 51px;
  height: 46px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  line-height: 46px;
}

.success .fa:last-child {
  margin-right: 0;
}

.success .fa-vk {
  background: #507299;
}

.success .fa-linkedin {
  background: #2078ca;
}

.success .fa-google-plus {
  background: #f32d2d;
}

.success .fa-facebook {
  background: #3b5998;
}

.filtering {
  overflow: hidden;
  margin-bottom: 40px;
  min-height: 118px;
  max-width: 100%;
  height: 100%;
  line-height: 118px;
}

.filtering img {
  display: inline;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  line-height: 118px;
}

.filtering1 {
  overflow: hidden;
  margin-bottom: 40px;
  min-height: 118px;
  max-width: 100%;
  height: 100%;
  line-height: 118px;
}

.filtering1 img {
  display: inline;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  line-height: 118px;
}

.modal-header {
  border-bottom: 0;
}

/* ==========  Desktop First Method  ========== */

@media only screen and (max-width : 1200px) {
  /* header */

  header h1,
  header h2 {
    font-size: 80px;
  }

  header .text {
    margin-top: 100px;
  }

  /* about_conf */

  .about_conf .life {
    margin-right: 0;
    margin-left: 0;
  }

  /* bonus */

  .package img {
    margin-top: 0px;
  }

  .gift .pl {
    margin-left: 100px;
  }

  .gift .ml {
    margin-left: 50px;
  }

  .cube {
    margin-left: 0px;
  }

  /*  */

  .subscribe .btn {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
  }

  .subscribe .btn a {
    text-align: center;
  }

  .registration button.btn {
    width: 256px;
    height: 56px;
    font-size: 18px;
  }

  .registration input {
    width: 90%;
  }

  .block {
    height: 230px;
  }
}

@media only screen and (max-width : 992px) {
  .row_sm {
    display: block;
  }

  .sm_xs .centr {
    display: block;
    float: none;
    float: left;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  .sm_xs .centr p {
    display: block;
    margin: 0 auto;
    width: 320px;
    text-align: center;
  }

  .sm_xs .centr img {
    display: block;
  }

  header h1,
  header h2 {
    font-size: 60px;
  }

  header h2 {
    padding-top: 4px;
  }

  header .conf {
    font-size: 18px;
  }

  .small .time {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
    padding-right: 0;
    width: 100%;
    border-right: 0px;
    border-bottom: 3px solid #65c2cf;
    text-align: center;
    font-size: 18px;
  }

  .small .time:before {
    top: 78px;
    margin-left: 44px;
  }

  .big .time {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
    padding-top: 40px;
    padding-right: 0;
    width: 100%;
    height: 100px;
    border-right: 0px;
    border-bottom: 3px solid #65c2cf;
    text-align: center;
    font-size: 18px;
  }

  .big .time:before {
    top: 87px;
    margin-left: 44px;
  }

  .big h4 {
    margin-bottom: 0;
  }

  .small img {
    display: block;
    float: none;
    margin: 0 auto;
    margin-top: 10px;
    margin-top: 110px;
  }

  .big img {
    display: block;
    float: none;
    margin: 0 auto;
    margin-top: 0px;
  }

  .person h4,
  .person p,
  .person span {
    display: block;
    text-align: center;
  }

  span.time {
    padding-right: 0;
  }

  .small span.reg {
    display: block;
    padding: 0;
    text-align: center;
  }

  /* gift */

  /* 	.gift {
		.col-md-6{
			overflow: hidden;
		}
		.pl{
				float: left;
			}
		.ml{
		float: left;
		}
	} */

  .gift .pl {
    float: left;
    margin-left: 0;
  }

  .gift .first {
    display: block;
    overflow: hidden;
    margin: 0 auto;
    width: 430px;
  }

  .gift .ml {
    margin-top: 100px;
  }

  .cube {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 430px;
  }

  .package {
    margin-top: 60px;
  }

  /* organizer */

  .organizer .mt3,
  .organizer .mt2,
  .organizer .mt1 {
    margin-top: 33px;
  }

  .subscribe img {
    margin-bottom: 20px;
    margin-left: 0;
  }

  footer .container p,
  footer .container a {
    text-align: center;
  }

  footer .container img {
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (max-width : 830px) {
  /* about_conf  */

  main h2 {
    /* font-size: 30px; */
  }

  main h2:after {
    margin-left: 14px;
    width: 56px;
    height: 1px;
  }

  main h2:before {
    margin-left: -70px;
    width: 56px;
    height: 1px;
  }
}

@media only screen and (max-width : 768px) {
  header img {
    margin-right: auto;
    margin-left: auto;
    width: 175px;
  }

  header h1,
  header h2 {
    font-size: 50px;
    line-height: 1.2;
  }

  header .text {
    font-size: 18px;
  }

  /* organizer */

  .organizer .org img {
    display: block;
    margin: 0 auto;
  }

  .organizer h4 {
    margin-top: 38px;
  }

  .gift .first,
  .cube {
    width: 100%;
  }

  .subscribe img {
    width: 130px;
  }

  .subscribe .btn {
    margin-bottom: 40px;
    margin-left: 150px;
  }

  .welcome {
    height: 620px;
  }

  .welcome h5 {
    margin-top: 40px;
    font-size: 30px;
  }

  .welcome img {
    height: 100px;
  }

  .welcome p {
    font-size: 18px;
  }

  .success {
    height: 420px;
  }

  .success h5 {
    margin-top: 40px;
    font-size: 30px;
  }

  .success img {
    height: 100px;
  }

  .success p {
    font-size: 18px;
  }

  .block:nth-child(3),
  .block:nth-child(4) {
    height: 300px;
  }

  .package .btn {
    width: 222px;
    font-size: 18px;
  }
}

@media only screen and (max-width : 500px) {
  .block:nth-child(3),
  .block:nth-child(4) {
    height: 350px;
  }
}

@media only screen and (max-width : 480px) {
  .package .btn {
    width: 222px;
  }

  /* header */

  header img {
    margin-right: auto;
    margin-left: auto;
    width: 175px;
  }

  header h1,
  header h2 {
    font-size: 38px;
    line-height: 1.2;
  }

  header .text {
    font-size: 18px;
  }

  header .btn {
    width: 190px;
    height: 56px;
    font-size: 18px;
    line-height: 40px;
  }

  header h3 {
    font-size: 24px;
  }

  /* about_conf  */

  .about_conf p.life {
    font-size: 14px;
    line-height: 24px;
  }

  .about_conf h3 {
    margin-top: 27px;
    white-space: pre-line;
    font-size: 24px;
  }

  .col-xs-6 p {
    font-size: 14px;
  }

  main h2 {
    font-size: 30px;
  }

  /* gift */

  .gift .first {
    margin: 0;
    padding: 0;
  }

  .gift .text {
    white-space: normal;
    font-size: 24px;
  }

  .gift span {
    top: 122px;
    left: 116px;
    font-size: 24px;
    line-height: 1.5;
  }

  .gift .btn {
    width: 164px;
  }

  .cube .btn {
    top: 267px;
    left: 174px;
    z-index: 0;
    padding: 5px 5px;
    width: 222px;
    height: 56px;
  }

  .cube .btn a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }

  .package {
    margin-top: 0;
  }

  .package .btn {
    width: 200px;
    height: 56px;
  }

  .package .btn a {
    font-size: 18px;
  }

  .package .text {
    position: absolute;
    top: 93px;
    left: 208px;
    text-align: left;
  }

  .package img {
    margin: 0;
    margin-left: -50px;
    height: 200px;
  }

  .package p {
    font-size: 14px;
  }

  /* organizer */

  .organizer {
    font-size: 24px;
  }

  .btn {
    width: 232.86px;
    height: 39.86px;
    border-width: 5.07px;
    border-style: solid;
    border-color: rgb(255, 87, 34);
  }

  .btn a {
    z-index: 57;
    color: rgb(255, 87, 34);
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    font-family: GothamProRegular;
    line-height: 1.2;
  }

  /* subscribe */

  .subscribe h5 {
    font-size: 24px;
  }

  .subscribe .p {
    font-size: 16px;
  }

  .subscribe .btn {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 140px;
    width: 189px;
  }

  .subscribe img {
    float: left;
    margin-top: 15px;
    margin-left: 0;
    width: 136px;
  }
}

@media only screen and (max-width : 377px) {
  .subscribe img {
    float: none;
    margin: 0 auto;
    margin-top: 20px;
  }

  .subscribe .btn {
    float: none;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
  }
}

@media only screen and (max-width : 390px) {


  main h2:after {
    margin-left: 14px;
    width: 20px;
    height: 1px;
  }

  main h2:before {
    margin-left: -35px;
    width: 20px;
    height: 1px;
  }
}

@media only screen and (max-width : 368px) {
  .gift .btn {
    width: 145px;
  }

  .gift .btn a {
    font-size: 14px;
  }

  .gift span {
    margin-top: 16px;
    margin-left: 10px;
    font-size: 18px;
  }

  .package .text {
    left: 170px;
    font-size: 18px;
  }

  .package .btn {
    width: 222px;
    font-size: 18px;
  }

  .subscribe .btn {
    margin-bottom: 40px;
  }

  .col-xs-6.block {
    padding: 0;
  }

  .cube {
    padding-top: 320px;
  }

  .cube	.btn {
    position: static;
    display: block;
    margin: 0 auto;
    width: 222px;
    font-size: 18px;
  }

  .organizer .btn {
    width: 300px;
  }

  .org img {
    width: 295px;
  }
}

/*==========  Mobile First Method  ==========*/

@media only screen and (min-width : 320px) {

}

@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 768px) {
  .filtering1.hide_sl {
    display: none !important;
  }
}

@media only screen and (min-width : 992px) {

}

@media only screen and (min-width : 1200px) {

}

/* ==========  Screen orientation  ========== */

@media screen and (orientation: landscape) {

}

@media screen and (orientation: portrait) {

}