/*Работаем со шрифтами в этом файле, в дальнейшем он присоединится к libs.min.css*/
@font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/RalewayRegular/RalewayRegular.eot");
    src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"),
    url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
